Repository Lanzelot1/Omnex, changes with the owners that .github/CODEOWNERS names for each.
All owners: @omnex-ai/core-team, @omnex-ai/backend-team, @omnex-ai/docs-team, @omnex-ai/frontend-team

.github/CODEOWNERS:

# This file defines code ownership for automatic PR review requests
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Default owners for everything in the repo
* @omnex-ai/core-team

# Python backend
/src/ @omnex-ai/backend-team
/tests/ @omnex-ai/backend-team
*.py @omnex-ai/backend-team

# Documentation
/docs/ @omnex-ai/docs-team
*.md @omnex-ai/docs-team

# GitHub specific files
/.github/ @omnex-ai/core-team

# Dependencies
requirements*.txt @omnex-ai/backend-team
package*.json @omnex-ai/frontend-team
pyproject.toml @omnex-ai/backend-team

add claude.md
  CLAUDE.md
Owners: @omnex-ai/docs-team

fix claude setup issues
  CHANGELOG.md
  CITATION.cff
  CODE_OF_CONDUCT.md
  GOVERNANCE.md
  SECURITY.md
Owners: @omnex-ai/docs-team, @omnex-ai/core-team

update claude.md
  CLAUDE.md
Owners: @omnex-ai/docs-team

remove all reference links to omnex.ai
  .github/ISSUE_TEMPLATE/config.yml
  CITATION.cff
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  DOMAIN_CHANGES.md
  README.md
  SECURITY.md
  package.json
  pyproject.toml
  src/__init__.py
Owners: @omnex-ai/core-team, @omnex-ai/docs-team, @omnex-ai/frontend-team, @omnex-ai/backend-team

add docs
  DOMAIN_CHANGES.md
  docs/README.md
  docs/api-reference/README.md
  docs/architecture.md
  docs/getting-started/README.md
  docs/user-guide/mcp-integration.md
Owners: @omnex-ai/docs-team

setup: check and fix setup issues
  .czrc
  CLAUDE.md
  alembic.ini
  migrations/env.py
  migrations/script.py.mako
  pyproject.toml
  scripts/init_db.sql
  scripts/verify_setup.py
  src/core/config.py
  src/utils/__init__.py
  tests/integration/__init__.py
Owners: @omnex-ai/core-team, @omnex-ai/docs-team, @omnex-ai/backend-team

feat: add logo
  assets/logo.png
Owners: @omnex-ai/core-team

failed claude attempt to implement auth
  .env.example
  .env.test
  migrations/versions/001_initial_auth_schema.py
  pytest.ini
  src/api/v1/__init__.py
  src/api/v1/auth.py
  src/api/v1/context.py
  src/api/v1/memory.py
  src/core/auth.py
  src/core/cache.py
  src/core/config.py
  src/core/database.py
  src/main.py
  src/services/__init__.py
  src/services/auth.py
  src/services/base.py
  test_auth_flow.py
  tests/unit/__init__.py
  tests/unit/test_auth.py
  tests/unit/test_auth_api.py
  tests/unit/test_auth_service.py
Owners: @omnex-ai/core-team, @omnex-ai/backend-team
